@import './../style/default.less';

.container {
  .nav-left {
    color: #ffffff;
    height: calc(100vh);
    background-color: #001529;
    // background-color:red;
  }
  .main {
    background-color: @colorL;
    height: calc(100vh);
    overflow: auto;
    padding: 10px 20px;
  }
  .content {
    position: relative;
    padding: 20px 20px;
  }
}